#pkmn-name {
    display: block;
    margin-right: 95%;
    flex-wrap: wrap;
    flex-direction: row;
    font-style: italic;
}

.pkmn-details {
    text-decoration: none;
    font-size: 9px;
    display: block;
}