#tcg-container {
    background-color: white;
    width: 80%;
    margin: auto;
}

#all-tcg {
    padding: 2%;
    width: 90%;
    margin: auto;
    background-image: url("https://images-ext-1.discordapp.net/external/1H96OQLEhqmoZ-Ufi77N-pSr22zTIpoHrfinXdDcN2E/%3F1/https/i.imgur.com/0NPcBDd.png?width=670&height=670");
    box-shadow: 0px 15px 15px black;
    border-radius: 30px;
}

#Astral {
    background-color: white;
    margin-top: 5%;
    margin-left: 50%;
    height: 25%;
    width: 30%;
}

#brilliant-stars {
    background-color: white;
    height: 25%;
    width: 30%;
    margin-right: 50%;
}

#fusion-strike {
    background-color: white;
    height: 25%;
    width: 30%;
    margin-left: 50%;
}

#celebrations {
    background-color: white;
    height: 25%;
    width: 30%;
    margin-right: 50%;
}

#evolving-skies{
    background-color: white;
    height: 25%;
    width: 30%;
    margin-left: 50%;
}

#chilling-reign {
    background-color: white;
    height: 25%;
    width: 30%;
    margin-right: 50%;
}