#about-header {
  display: flex;
}

#about-container {
  border-radius: 0px 0px 20px 20px;
  background-color: white;
  margin: auto;
  width: 80%;
  padding-bottom: 3%;
}

#about-section {
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 3%;
}

#mew {
  width: 12%;
  margin-left: 25%;
}

#lugia {
  width: 15%;
  margin-right: 20%;
}

#read-more {
  background-color: none;
  margin-top: 3%;
  color: blue;
  text-decoration: underline;
}
