nav {
  background-color: white;
  position: relative;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 2%;
  margin: auto;
  width: 80%;
  border-radius: 20px 20px 0px 0px;
}

a {
  background-color: white;
  position: relative;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1.5%;
  padding-bottom: 1%;
  margin: auto;
  color: black;
  text-decoration: none;
  border-radius: 1%;
}

#banner-container {
  width: 80%;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  padding: 1%;
  margin-bottom: 5px;
}

#banner {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 4px 10px black;
}

#home {
  border-bottom: 5px solid #0088d6;
  font-family: Avenir;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  /* padding: 15px 70px; */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#home:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0088d6;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#home:hover,
#home:focus,
#home:active {
  color: #fff;
}
#home:hover:before,
#home:focus:before,
#home:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

#tcg {
  border-bottom: 5px solid #03b000;
  font-family: Avenir;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  /* padding: 15px 70px; */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#tcg:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #03b000;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#tcg:hover,
#tcg:focus,
#tcg:active {
  color: #fff;
}
#tcg:hover:before,
#tcg:focus:before,
#tcg:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

#pokedex {
  border-bottom: 5px solid #b00000;
  font-family: Avenir;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  /* padding: 15px 70px; */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#pokedex:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b00000;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#pokedex:hover,
#pokedex:focus,
#pokedex:active {
  color: #fff;
}
#pokedex:hover:before,
#pokedex:focus:before,
#pokedex:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

#memory-lane {
  border-bottom: 5px solid #6d00b0;
  font-family: Avenir;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  /* padding: 15px 70px; */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#memory-lane:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #6d00b0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#memory-lane:hover,
#memory-lane:focus,
#memory-lane:active {
  color: #fff;
}
#memory-lane:hover:before,
#memory-lane:focus:before,
#memory-lane:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

#about {
  border-bottom: 5px solid #d7a100;
  font-family: Avenir;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  /* padding: 15px 70px; */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#about:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d7a100;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#about:hover,
#about:focus,
#about:active {
  color: #fff;
}
#about:hover:before,
#about:focus:before,
#about:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

#logout {
  border-bottom: 5px solid rgb(153, 153, 153);
  font-family: Avenir;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  /* padding: 15px 70px; */
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#logout:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(153, 153, 153);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#logout:hover,
#logout:focus,
#logout:active {
  color: #fff;
}
#logout:hover:before,
#logout:focus:before,
#logout:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

@media only screen and (max-width: 980px) {
  nav,
  a,
  #banner-container {
    width: 90%;
  }
}

@media only screen and (max-width: 980px) {
  ul {
    width: 100%;
    display: inline-block;
  }
}
