nav, a {
    background-color: white;
    position: relative;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    margin: auto;
    color: black;
    text-decoration: none;
    width: 80%;
    border-radius: 20px 20px 0px 0px;
}

#pokemon-logo {
    height: 40px;
    width: 100px;
}

#banner {
    width: 80%;
    border-radius: 20px;
}