h1 {
    background-color: white;
    width: 80%;
    margin: auto;
}

#timeline-container {
    background-color: white;
    width: 80%;
    margin: auto;
    display: flex;
}

#inner-container {
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    width: 90%;
    margin: auto;
    background-color: rgb(193, 193, 193);
    box-shadow: 0px 15px 15px black;
    border-radius: 30px;
    background-image: url("https://images-ext-1.discordapp.net/external/1H96OQLEhqmoZ-Ufi77N-pSr22zTIpoHrfinXdDcN2E/%3F1/https/i.imgur.com/0NPcBDd.png?width=670&height=670");
}

.content {
    margin-top: 4%;
    padding-bottom: 4%;
    width: 30%;
    margin-left: 2.5%;
    background-color: rgb(122, 122, 122);
    border-radius: 15px;
    /* margin-bottom: 2%; */
    box-shadow: 0px 9px 13px black;
    border: 2px solid rgb(255, 255, 255);
}

#pokemon-game {
    height: 60%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 2px solid white;
}

#pokemon-gameDS {
    height: 60%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 2px solid white;
}