#home-container {
    background-color: white;
    width: 80%;
    margin: auto;
    display: flex;
}

#info-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    width: 90%;
    margin: auto;
    background-color: rgb(193, 193, 193);
    box-shadow: 0px 15px 15px black;
    border-radius: 30px;
    background-image: url("https://images-ext-1.discordapp.net/external/1H96OQLEhqmoZ-Ufi77N-pSr22zTIpoHrfinXdDcN2E/%3F1/https/i.imgur.com/0NPcBDd.png?width=670&height=670");
}

#unite-container {
    width: 30%;
    margin-left: 3%;
    background-color: rgb(216, 141, 0);
    border-radius: 15px;
    margin-bottom: 2%;
    box-shadow: 0px 9px 13px black;
    border: 2px solid white;
}

#unite-pic {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    
}

#go-container {
    width: 30%;
    margin-left: 2%;
    margin-top: 8%;
    margin-bottom: 9%;
    background-color: rgb(57, 71, 255);
    border-radius: 15px;
    box-shadow: 0px 9px 13px black;
    border: 2px solid white;
}

#go-pic {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

#champ-container {
    width: 30%;
    margin-left: 2%;
    background-color: rgb(0, 161, 43);
    border-radius: 15px;
    margin-bottom: 2%;
    box-shadow: 0px 9px 13px black;
    border: 2px solid white;
}

#champs {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

#lavender-container {
    width: 30%;
    margin-left: 3%;
    margin-top: 4%;
    margin-bottom: 6%;
    background-color: rgb(195, 146, 255);
    border-radius: 15px;
    box-shadow: 0px 9px 13px black;
    border: 2px solid white;
}

#lavender-town {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

#yt-video {
    width: 100%;
    border-radius: 15px;
    border-radius: 15px 15px 0px 0px;
}

#yt-container {
    width: 30%;
    margin-left: 2%;
    margin-top: 4%;
    margin-bottom: 6%;
    background-color: rgb(180, 0, 0);
    border-radius: 15px;
    box-shadow: 0px 9px 13px black;
    border: 2px solid white;
}

#hisuian-container {
    width: 30%;
    margin-left: 2%;
    margin-top: 4%;
    margin-bottom: 6%;
    background-color: rgb(200, 207, 0);
    border-radius: 15px;
    box-shadow: 0px 9px 13px black;
    border: 2px solid white;
}

#hisuian {
    width: 100%;
    border-radius: 15px;
    border-radius: 15px 15px 0px 0px;
}

#pkmn-tcg-container {
    width: 30%;
    margin-left: 3%;
    margin-top: 4%;
    margin-bottom: 6%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 9px 13px black;
    border: 2px solid white;
}

#pkmn-tcg {
    width: 100%;
    border-radius: 15px;
    border-radius: 15px 15px 0px 0px;
}

#legends {
    width: 100%;
    border-radius: 15px;
    border-radius: 15px 15px 0px 0px;
}

#legends-container {
    width: 30%;
    margin-left: 2%;
    margin-top: 9%;
    margin-bottom: 10%;
    background-color: rgb(140, 255, 213);
    border-radius: 15px;
    box-shadow: 0px 9px 13px black;
    border: 2px solid white;
}

#evo-container {
    width: 30%;
    margin-left: 3%;
    margin-top: 4%;
    margin-bottom: 6%;
    background-color: rgb(255, 149, 51);
    border-radius: 15px;
    box-shadow: 0px 9px 13px black;
    border: 2px solid white;
}

#evo-video {
    width: 100%;
    border-radius: 15px;
    border-radius: 15px 15px 0px 0px;
}

/* #footer-container {
    width: 100%;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    padding: 1%;
    margin-bottom: 5px;
}

#footer {
    display: inline-flex;
    margin: auto;
    width: 14%;
    justify-content: center;
} */

.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: .5%;
    padding: 20px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: 40%;
}

.slider {
    /* height: 20%; */
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
}

.slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

.slide {
    /* height: 200px; */
    width: 20%;
    display: flex;
    align-items: center;
    padding: 15px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}


/* #unite-container:hover {
    cursor: pointer;
    border-color: rgb(255, 253, 137);
    box-shadow: 0px 9px 35px rgb(255, 253, 137);
}

#go-container:hover {
    cursor: pointer;
    border-color: rgb(255, 253, 137);
    box-shadow: 0px 9px 35px rgb(255, 253, 137);
}

#champ-container:hover {
    cursor: pointer;
    border-color: rgb(255, 253, 137);
    box-shadow: 0px 9px 35px rgb(255, 253, 137);
}

#lavender-container:hover {
    cursor: pointer;
    border-color: rgb(255, 253, 137);
    box-shadow: 0px 9px 35px rgb(255, 253, 137);
} */